.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/me.jpg') no-repeat 50%/cover;
    padding-top: 205px;


    &__title {
        color:#fff;
        width: 570px;
        margin-top: 10px;
        
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
    &__subtitle {
        color:#fff;
        padding-left: 10px;
        position: relative;
        @include before_circle;
        z-index: 2;
       
    }
    &__link {
        color:#fff;
        font-weight: 700;
        font-size: 14px;
        text-decoration: none;
        transition: all .3s;
        position: relative; 
        &:hover {
            text-decoration: none;
        }
        &_underline {
            &:after {
                display: block;
                transition: all .4s;
                content: "";
                left: 0; 
                width: 0;
                height: 1px; 
                background-color:#fff; 
                transition: all .4s ease-out; 
               }
                &:hover {
                    color: #fff;
                    text-decoration: none;
                    
                    &:after {
                      width: 100%;
                    }
                  
                  
                }
        }
      
    }
}
